---
import AdminPage from '../../layouts/AdminPage.astro';
import LandingPage from '../../layouts/LandingPage.astro';
---

<LandingPage>
  <div class="-mt-20 h-full">
    <AdminPage server:defer>
      <h1>Admin</h1>
    </AdminPage>
  </div>
</LandingPage>
