---
import AdminPage from '../../layouts/AdminPage.astro';
import LandingPage from '../../layouts/LandingPage.astro';
---

<LandingPage>
  <AdminPage server:defer>
    <h1>Admin</h1>
  </AdminPage>
</LandingPage>
